body {
  color: #323232;
  font-family: avenir, arial, sans-serif;
}

#header {
  background-color: #FFF !important;
  box-shadow: none;
  border: none;
}

#header .mobile-menu-toggle, #header .logo-text {
  fill: #323232;
  color: #323232;
}

#header span, #header a, #header input {
  color: #323232;
}

#header .search-box input, #header .search-box input::placeholder {
  background-color: #f5f5f5;
  color: rgba(50,50,50,.8);
}

#header .search-box button {
  color: rgba(50,50,50,.8);
}

#header .logo-image {
  filter: brightness(0.5) sepia(1) saturate(10000%) brightness(0.9);
}

#header [href$=shelves], #header [href$=books] {
  display: none;
}

#content main {
  font-size: 1.1rem;
  line-height: 1.9rem;
}

#content main h1 {
  font-size: 2.3em;
}

#content main h2 {
  font-size: 2em;
}

#content main h3 {
  font-size: 1.7em;
}

#content main h4 {
  font-size: 1.4em;
}

#content main h5 {
  font-size: 1.1em;
}

#content .tri-layout-mobile-tabs {
  display: none;
}

#content nav.breadcrumbs {
  display: none;
}

#content main a {
  text-decoration: underline;
}

#content main table td {
  border: none;
}

#sidebar aside {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  min-height: 0;
}

#sidebar aside .list-item-book.book {
  display: none;
}
